<%- include('../partials/header.ejs')%>
    <main>
        <script defer src="/javascript/formValidation.js"></script>
        <div id="main_content_centered">
            <div id="form_container">
                <h2>Edit Day <%=day.number%></h2>
                <form action="/trips/<%=trip._id%>/<%=day.number%>?_method=PUT" method="POST">
                    <label class="required" for="number">Day Number:</label>
                    <input type="text" id="number" class="disabled" name="number" value="<%=day.number%>" disabled>

                    <label class="required" for="location">Location:</label>
                    <input type="text" id="location" name="location" value="<%=day.location%>" required>

                    <label class="required" for="date">Date:</label>
                    <input type="date" id="date" class="disabled" name="date" value="<%=day.date%>" disabled>
                    
                    <label class="required" for="details">Details:</label>
                    <textarea id="details" name="details" placeholder="12:00 PM - Arrive at airport&#10;2:00 PM - Go to hotel" rows="10" required><%=day.details%></textarea>

                    <input value="Cancel" id="cancel" readonly="readonly" class="greenButton">
                    <input type="submit" value="Save Day" id="submit" class="greenButton">
                </form>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>