<%- include('../partials/header.ejs')%>
    <script defer src="/javascript/copyLink.js"></script>
    <script defer src="/javascript/share.js"></script>
    <main>
        <div id="main_content">
            <div>
                <a href="/trips/<%=trip._id%>">
                    <button class="button" type="button">Back to Trip</button>
                 </a>
            </div>
            <div class="inline_container left">
                <div id="general_access">
                    <h2>General Access</h2>
                    <%if (trip.generalAccess === 'public') {%>
                        <p class="no_bottom_margin">Anyone with the link can view this trip</p>
                        <%if (accessType === 'owner') {%>
                        <form action="/trips/<%=trip._id%>/general?_method=PUT" method="POST">
                            <select name="generalAccess" id="generalAccess">
                                <option value="private">Restricted</option>
                                <option value="public" selected>Anyone with link</option>
                            </select>
                            <input type="submit" value="Save Changes" class="greenButton">
                        </form>
                        <%}%>
                    <%} else {%>
                        <p class="no_bottom_margin">Only people with access can view this trip with the link</p>
                        <%if (accessType === 'owner') {%>
                        <form action="/trips/<%=trip._id%>/general?_method=PUT" method="POST">
                            <select name="generalAccess" id="generalAccess">
                                <option value="private" selected>Restricted</option>
                                <option value="public">Anyone with link</option>
                            </select>
                            <input type="submit" value="Save Changes" class="greenButton">
                        </form>
                        <%}%>
                    <%}%>
                    <button id="copyLink" class="button margin-top" type="button">Copy Link</button>
                    <button id="shareButton" class="button margin-top" type="button">Share Link</button>
                </div>
                <h2>Who Has Access</h2>
                <div class="access">
                    <%if (trip.createdBy.email === email) {%>
                        <p><%=trip.createdBy.firstName%> <%=trip.createdBy.lastName%> <b>(you, owner)</b></p>
                        <h4><%=trip.createdBy.email%></h4>
                    <%} else {%>
                        <p><%=trip.createdBy.firstName%> <%=trip.createdBy.lastName%> <b>(owner)</b></p>
                        <h4><%=trip.createdBy.email%></h4>
                    <%}%>
                </div>
                <%for (let i = 0; i < access.length; i++) {
                    let curUser = access[i].user;
                    let curAccessType = access[i].type;
                    if (curUser.email === email) {%>
                        <div class="access">
                            <p><%=curUser.firstName%> <%=curUser.lastName%> <b>(you, <%=curAccessType%>)</b></p>
                            <h4><%=curUser.email%></h4>
                        </div>
                    <%} else {%>
                        <div class="access">
                            <form>
                                <p><%=curUser.firstName%> <%=curUser.lastName%> <b>(<%=curAccessType%>)</b></p>
                                <%if (accessType === 'owner') {%>
                                    <button class="button" type="submit" formmethod="POST" formaction="/trips/<%=trip._id%>/<%=curUser._id%>?_method=DELETE">Remove</button>
                                <%}%>
                            </form>
                            <h4><%=curUser.email%></h4>
                        </div>
                    <%}
                }%>
            </div>
            <%if (accessType === 'owner') {%>
                <div class="inline_container" id="new_access_container">
                    <h2>Add New User</h2>
                    <form action="/trips/<%=trip._id%>/access?_method=PUT" method="POST">
                        <label class="required" for="name">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Email Address" required>
                        <label class="required" for="accessType">Access Level:</label>
                        <select name="accessType" id="accessType">
                            <option value="viewer">viewer</option>
                            <option value="editor">editor</option>
                        </select>
                        <input type="submit" value="Add User" id="submit" class="greenButton">
                    </form>
                </div>
            <%}%>
            <input type="hidden" id="tripName" name="tripName" value="<%=trip.name%>">
        </div>
    </main>
<%- include('../partials/footer.ejs')%>