<%- include('../partials/header.ejs')%>
    <script defer src="/javascript/profileLeaflet.js"></script>
    <main>
        <div id="main_content">
            <div id="profile-container" class="inline-profile left">
                <h2>Hello, <%=user.firstName + " " + user.lastName%>!</h2>
                <p>Email: <%=user.email%></p>
                <%
                const dateFormat = { 
                    ...DateTime.DATE_FULL, 
                    weekday: 'short',
                    month: 'short'
                };
                const createdAtDate = new Date(user.createdAt); 
                const formattedDate = createdAtDate.toLocaleString(dateFormat);
                %>

                <div id="stats-container" class="inline_container">
                    <h2>Statistics</h2>
                    <p>User since: <%=formattedDate.split(',')[0]%></p>
                    <p>Number of trips created: <%=trips.length%></p>
                </div>
            </div>
            <div id="map-wrapper" class="inline-profile">
                <h2 id="myTripLocations">My Trip Locations</h2>
                <div id="map" class="large-map"></div>
            </div>
        </div>
        <input type="hidden" id="tripLocations" name="tripLocations" value="<%=JSON.stringify(trips)%>">
    </main>
<%- include('../partials/footer.ejs')%>