<%- include('../partials/header.ejs')%>
    <script defer src="/javascript/showTrips.js"></script>
    <main>
        <div id="main_content">
            <h2>Hello, <%=user.firstName + " " + user.lastName%>!</h2>
            <h3>Email: <%=user.email%></h3>
            <%
            const dateFormat = { 
                ...DateTime.DATE_FULL, 
                weekday: 'short',
                month: 'short'
            };
            const createdAtDate = new Date(user.createdAt); 
            const formattedDate = createdAtDate.toLocaleString(dateFormat);
            %>
            <h3>User since: <%=formattedDate.split(',')[0]%></h3>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>